<%= form_for(@restaurant, html: {multipart: true } ) do |form| %>
  <% if @restaurant.errors.any? %>
     <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <h4><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h4>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :名前 %>
    <%= form.text_field :name, id: :restaurant_name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :住所 %>
    <%= form.text_field :address, id: :restaurant_address, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :電話番号 %>
    <%= form.text_field :phone, id: :restaurant_phone , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ウェブサイト %>
    <%= form.text_field :website, id: :restaurant_website , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :画像添付 %>
    <%= form.file_field :image, id: :restaurant_image , class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "新規カフェ登録",class: "btn btn-primary" %>
  </div>
<% end %>
