<div class="jumbotron" style="background-color: #F9FCCF; border: 1px solid #9999ff;color:#b30059; font-weight: bold;">
  <h2>Catch Cafeで今人気の動物カフェを探しませんか？</h2>
  <p>あなたのお気に入りのカフェが見つかるはず！</p>
</div>


<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>カフェの名前</th>
      <th>住所</th>
      <th>電話番号</th>
      <th></th>
      <% if user_signed_in?  && current_user.admin? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, restaurant %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone %></td>
        <td><%= restaurant.website %></td>
        <% if user_signed_in?  && current_user.admin? %>
          <td><%= link_to '編集', edit_restaurant_path(restaurant), class: "btn btn-link" %></td>
          <td><%= link_to '削除', restaurant, method: :delete, data: { confirm: '削除してもよろしいですか?' }, class: "btn btn-link" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in?%> <!--  && current_user.admin? ログインユーザとアドミン-->
  <%= link_to '新しいカフェの登録', new_restaurant_path,class:"btn btn-success" %>
<% end %>
