<div class="row">
	<div class="col-md-4">
		<%= image_tag @restaurant.image_url %>
		<br>
		<div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em><%= "#{@review.length} reviews" %></em>
		<h2>
		  <%= @restaurant.name %>
		</h2>
		

		<p>
		  <strong>住所:</strong>
		  <%= @restaurant.address %>
		</p>

		<p>
		  <strong>電話番号:</strong>
		  <%= @restaurant.phone %>
		</p>

		<p>
		  <strong>URL:</strong>
		  <%= link_to @restaurant.website, @restaurant.website %>
		</p>
		
			<%= link_to "レビューを書く" ,new_restaurant_review_path(@restaurant),class: "btn btn-primary" %><br><br>
				<iframe
				  width="280"
				  height="280"
				  frameborder="0" style="border:0"
				  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBDL6bOHeM9-DuSKdX0i-HbTXodbvwCY28
				    &q=<%= @restaurant.address.parameterize %> &zoom=14" allowfullscreen>
				</iframe>
<br>
			<% if user_signed_in? %>
				<% if  current_user.admin? %>
					<%= link_to 'カフェの編集', edit_restaurant_path(@restaurant), class: "btn btn-link" %> |
				<% end %>
			<% end %>
			<%= link_to '一覧に戻る', restaurants_path, class: "btn btn-link" %>
	</div>


	<div class="col-md-8">
	<% if @review.blank? %>
		<h3>まだレビューがありません。是非、書いてみませんか？</h3>
	<% else %>
		
		<table class="table">
			<thead>
				<tr>
					<td style="">
						<div class="col-md-3"></div>
						<div class="col-md-9"></div>
					</td>
				</tr>
			</thead>

			<tbody>
				<% @review.each do |review| %>
				<tr>
					<td>
						<h4><%= "#{review.user.username}" %></h4>
						<p><%= review.created_at.strftime("%-m/%-d/%y") %></p>
					</td>
			 
					<td>
						<!-- raty.jsを使う場合は下記のコードになるはずだが、機能しない。
							<div class="star-rating" data-score= <%= review.rating %> ></div> -->
							<div class="star-rating" data-score= <%= review.rating %> ></div>
						<!--<div class="star-rating" data-score=<%= review.rating %> ></div> --> 
						<!-- <div class="star-rating" data-score="<%= review.rating %>"></div> -->
							<!-- <div id="test"></div> -->
							<!-- <div id="star"></div>--> 
							 <!-- <p><%= review.rating %></p> --> 
							

							<!-- 改行を反映させるためのコマンド↓ -->
							<p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
							<% if user_signed_in? %>
								<% if review.user == current_user || current_user.admin? %>
									<%= link_to "Edit", edit_restaurant_review_path(@restaurant,review) %>
									<%= link_to "Delete", restaurant_review_path(@restaurant,review), method: :delete %>
								<% end %>
							<% end %>

						</td>
					</tr>
				<% end %>
			</tbody>

		</table>
	<% end %>
	</div>
</div> 










<!-- 
下記のサイトから持ってきた
https://stackoverflow.com/questions/35167149/im-using-raty-js-star-rating-system-how-do-i-show-the-equivalent-integer-value
star-ratingの部分を変更した
 -->


<script>
    $('.star-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score');
        }
    });
</script>


